<%= form_for([@article, @article.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :body, "Write your comment" %><br />
    <%= f.text_field :body %>
  </div><br />
  <div class="field">
    <%= f.label :comment_id, "comment number:" %><br />
    <%= f.text_area :comment_id %>
  </div><br />
  <div class="field">
    <%= f.label :user_id, "Author:" %><br />
    <%= f.text_area :user_id %>
  </div><br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
