<%= form_for @article, :html => {:multipart => true} do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :style => 'width: 400px; padding: 0; margin: 0;'%>
  </div>
  <br />
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, :style => 'width: 400px;' 'height:300px;' 'font-size:14px;'%>
  </div>
  <br />
  
  <div class="field">
    <%= image_tag(@article.image_url.to_s) if @article.image? %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
 
  </div>
  
 <br />
  <div class="field">
    <%= f.label :remote_image_url, "/or insert image URL" %>
    <%= f.text_field :remote_image_url %>
  </div>
 
      <%= f.check_box :remove_image %>
      <p>Remove image</p>
    
   
  <div class="field">
    <%= f.label :category %>
    <%= f.select(:category, [['Travel'], ['Personal'], ['Unusual'],]) %>
   <!-- <%= f.text_field :category, :style => 'width: 520px;' %> -->
  </div>
<br />
 
  <div class="actions">
    <%= f.submit "Add article", :class => 'navbar btn' %>
  </div>

<% end %>
