 

<div class="page-header">
<h1>All articles</h1>
</div>


<br/>


<% @articles.each do |article| %>
  <div class ="article">
    <!-- "link to" creates a link to article's title, "article" - where to redirect -->
    <h3><%= link_to article.title, article %></h3>
    
    <p><%= article.content %></p>
    <p>Created by: </br><%= article.author %></p>
    <p>Category: <%= article.category %></p>
    <p><%= article.rating %></p>
    
    <div class = "meta">
        <%= link_to time_ago_in_words(article.created_at) + " ago", article %>
        
        <span class="admin">
        |<%= link_to 'Edit', edit_article_path(article) %>
         <%= link_to 'Delete', article, :confirm => 'Are you sure you want to delete this article?', :method => :delete %>
        </span>
    </div>
</div>
  
<% end %>
</table>

<br />
<hr />

<%= link_to 'New Article', new_article_path %>
