<%= content_for :stories_active do %>class="active"<% end %>
<%= content_for :title do %>Stories<% end %>

<div class="page-header">
<h1 style="text-align: center">All strories</h1>
</div>
<br/>
<% @articles.each do |article| %>
  <div class ="article">
    <!-- "link to" creates a link to article's title, "article" - where to redirect -->
    <h3 style="text-align: center"><%= link_to article.title, article %></h3>
    
    <p><%= article.content.html_safe %></p> <!-- User will submit HTML as an article content. We want to render it as it is. <script> is still handled safely by RoR -->

    <p align="center"><%= image_tag article.image_url.to_s if article.image_url.present? %></p>

    <h5>Created by: <%= article.author %></h5>
    <h5>Category: <%= article.category %></h5>
    <h5>Rating:<%= article.rating %></h5>
    
    <div class = "meta">
        <%= link_to time_ago_in_words(article.created_at) + " ago", article %>
      
      
    </div>
</div>
  <hr />
<% end %>
</table>

<br />


<%= link_to "Create and share your own story!", new_article_path %>
