<%= content_for :stories_active do %>class="active"<% end %>
<%= content_for :title do %>Stories<% end %>

<div class="page-header">
<h1 style="text-align: center">All strories</h1>
</div>
<br/>
<% @articles.each do |article| %>
  <div class ="article">
    <!-- "link to" creates a link to article's title, "article" - where to redirect -->
    <h3 style="text-align: center"><%= link_to article.title, article %></h3>
    <p style="padding-top: 20px; display: block; position: relative; float: left;"><%= image_tag article.image_url.to_s if article.image_url.present? %></p> 
    
    <p style="text-align:justify; text-indent:30px; padding-top: 30px; display: block; position:relative; left:10px;"><%= truncate_html article.content, length: 1000 %></p>
    <p style="display: block; position:relative; left:10px;"><%= link_to 'read more', article %></p>
    </div> 
    <div style="clear:both;"></div>

    

  <hr />
<% end %>


<br />


<%= link_to "Create and share your own story!", new_article_path %>
 
 
  <br /> 
    <center><h4><%= paginate @articles %></h4></center>