<p>
  <b>Article's title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Content of article:</b>
  <%= @article.content %>
</p>

<p>
  <b>Author:</b>
  <%= @article.author %>
</p>

<p>
  <b>Category:</b>
  <%= @article.category %>
</p>

<p>
  <b>Rating:</b>
  <%= @article.rating %>
</p>



<!-- to render comment on show.html.erb template and use partial _comment.html.erb -->

<h2>Comments</h2></br>
<%= render @article.comments %> 

<!-- This adds a form on the Post show page that creates a new comment by calling the CommentsController create action -->
<!-- render just defines the partial template we want to render, comments/form -->

<h2>Add a comment:</h2>
<%= render "comments/form" %>
<br />


<%= link_to 'Edit Article', edit_article_path(@article) %> |
<%= link_to 'Back to articles', articles_path %>
