<h2 style="text-align: center" >
  <%= @article.title%>
</h2>
<br />


<p>
  <%= @article.content.html_safe %>
</p>

<p>
 <!-- <%= image_tag @article.image_url.to_s if @article.image_url.present? %> -->
 <center><%= image_tag %></center>

</p>

<p>
  <h4>Created by:</h4><%= @article.author %>
</p>

<p>
  <b>Category:</b>
  <%= @article.category %>
</p>

<p>
  <b>Rating:</b>
  <%= @article.rating %>
</p>



<!-- to render comment on show.html.erb template and use partial _comment.html.erb -->
<%= render "voted_user/vote_form" %>
<h2>Comments</h2></br>
<%= render @article.comments %> 

<!-- This adds a form on the Article show page that creates a new comment by calling the CommentsController create action -->
<!-- render just defines the partial template we want to render, comments/form -->

<h2>Add your comment:</h2>
<%= render "comments/form" %>
<br />



<%= link_to 'Back to stories', articles_path %>
