<h1>Welcome to Overseas - real stories about interesting places you always wanted to visit!</h1>
<hr />

<!--Start first row of columns-->
	  
	  <div class="row">
		<div class="span6 thumb-list">
			<a rel="lightbox[secondary]" href="/assets/thumb-small01.png"><%= image_tag('thumb-small01.png', :alt => 'thumb-small01.png') %>
			<h3><a href="#">This Should Be Your Title.</a></h3>
			<p>This will be the description or something I guess. I don't know. Your choice.You could summarize something here. </p>
      <a href="#" class="btn">Details</a>

		</div>
	
		<div class="span6 thumb-list">
			<a rel="lightbox[secondary]" href="/assets/thumb-small02.png"><%= image_tag('thumb-small02.png', :alt => 'thumb-small02.png') %>
			<h3><a href="#">This Should Be Your Title.</a></h3>
			<p>This will be the description or something I guess. I don't know. Your choice.</p>
			<a href="#" class="btn">Details</a>
		</div>
	</div>
	
	 <hr />

	  <div class="row">
		<div class="span6 thumb-list">
			<a rel="lightbox[secondary]" href="/assets/thumb-small01.png"><%= image_tag('thumb-small01.png', :alt => 'thumb-small01.png') %>
			<h3><a href="#">This Should Be Your Title.</a></h3>
			<p>This will be the description or something I guess. I don't know. Your choice.You could summarize something here. </p>
      <a href="#" class="btn">Details</a>

		</div>
	
		<div class="span6 thumb-list">
			<a rel="lightbox[secondary]" href="/assets/thumb-small02.png"><%= image_tag('thumb-small02.png', :alt => 'thumb-small02.png') %>
			<h3><a href="#">This Should Be Your Title.</a></h3>
			<p>This will be the description or something I guess. I don't know. Your choice.</p>
			<a href="#" class="btn">Details</a>
		</div>
	</div>
	 <hr /> <div class="row">
		<div class="span6 thumb-list">
			<a rel="lightbox[secondary]" href="/assets/thumb-small01.png"><%= image_tag('thumb-small01.png', :alt => 'thumb-small01.png') %>
			<h3><a href="#">This Should Be Your Title.</a></h3>
			<p>This will be the description or something I guess. I don't know. Your choice.You could summarize something here. </p>
      <a href="#" class="btn">Details</a>

		</div>
	
		<div class="span6 thumb-list">
			<a rel="lightbox[secondary]" href="/assets/thumb-small02.png"><%= image_tag('thumb-small02.png', :alt => 'thumb-small02.png') %>
			<h3><a href="#">This Should Be Your Title.</a></h3>
			<p>This will be the description or something I guess. I don't know. Your choice.</p>
			<a href="#" class="btn">Details</a>
		</div>
	</div>
	
	 <hr />
