<%= content_for :home_active do %>class="active"<% end %>
<h1>Welcome to Overseas - real stories about interesting places you always wanted to visit!</h1>
<hr />

<!--Start first row of columns-->
	  
	  <div class="row">
		<div class="span6 thumb-list">
			<a rel="lightbox[secondary]" href="/assets/thumb-small01.png"><%= image_tag('thumb-small01.png', :size => "220x130", :alt => 'thumb-small01.png') %>
			<h3><a href="#">This is a title of an article</a></h3>
			<p>This will be the description of article This is a title of an article</a></h3>
			<p>This will be the description of article </p>
      <a href="#" class="btn">Details</a>

		</div>
	
		<div class="span6 thumb-list">
			<a rel="lightbox[secondary]" href="/assets/thumb-small01.png"><%= image_tag('thumb-small01.png', :size => "220x130", :alt => 'thumb-small01.png') %>
			<h3><a href="#">This is a title of an article</a></h3>
			<p>This will be the description of article This is a title of an article</a></h3>
			<p>This will be the description of article </p>
      <a href="#" class="btn">Details</a>

		</div>
	</div>
	
	 <hr />

	  <div class="row">
		<div class="span6 thumb-list">
			<a rel="lightbox[secondary]" href="/assets/thumb-small01.png"><%= image_tag('thumb-small01.png', :size => "220x130", :alt => 'thumb-small01.png') %>
			<h3><a href="#">This is a title of an article</a></h3>
			<p>This will be the description of article This is a title of an article</a></h3>
			<p>This will be the description of article </p>
      <a href="#" class="btn">Details</a>

		</div>
	<div class="span6 thumb-list">
			<a rel="lightbox[secondary]" href="/assets/thumb-small01.png"><%= image_tag('thumb-small01.png', :size => "220x130", :alt => 'thumb-small01.png') %>
			<h3><a href="#">This is a title of an article</a></h3>
			<p>This will be the description of article This is a title of an article</a></h3>
			<p>This will be the description of article </p>
      <a href="#" class="btn">Details</a>

		</div>
	</div>
	 <hr /> <div class="row">
		<div class="span6 thumb-list">
			<a rel="lightbox[secondary]" href="/assets/thumb-small01.png"><%= image_tag('thumb-small01.png', :size => "220x130", :alt => 'thumb-small01.png') %>
			<h3><a href="#">This is a title of an article</a></h3>
			<p>This will be the description of article This is a title of an article</a></h3>
			<p>This will be the description of article </p>
      <a href="#" class="btn">Details</a>

		</div>
	
		<div class="span6 thumb-list">
			<a rel="lightbox[secondary]" href="/assets/thumb-small01.png"><%= image_tag('thumb-small01.png', :size => "220x130", :alt => 'thumb-small01.png') %>
			<h3><a href="#">This is a title of an article</a></h3>
			<p>This will be the description of article This is a title of an article</a></h3>
			<p>This will be the description of article </p>
      <a href="#" class="btn">Details</a>

		</div>
	</div>
	
	 <hr />
